<h1> Secret Posts </h1>


 <!-- link_to "Your posts", posts_path --> 



<% if user_signed_in? %>
<%= link_to "New post", new_post_path %> <br> 


    <% @posts.each do |post| %>
   <div> Title: <%= post.title%>  by <%=  User.find(post.user_id).name  %> </div> <br>
   <div> Body: <%= post.body%> </div> <br>
    <%end%>

<%else%>

<h2> Log in to see who made each post</h2> <br />

 <%= link_to "Log in", "/users/sign_in" %><br />


  <% @posts.each do |post| %>

   <div> Title: <%= post.title%> </div> <br>
   <div> Body: <%= post.body%> </div> <br>
    <%end%>

<%end%>


